Source code.txt
[{"id":"4a4583ae.7091dc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"669f015c.ffc9d","type":"function","z":"4a4583ae.7091dc","name":"PreToken","func":"global.set(\"preg\",msg.payload.preg)\nglobal.set(\"plas\",msg.payload.plas)\nglobal.set(\"pres\",msg.payload.pres)\nglobal.set(\"skin\",msg.payload.skin)\nglobal.set(\"test\",msg.payload.test)\nglobal.set(\"mass\",msg.payload.mass)\nglobal.set(\"pedi\",msg.payload.pedi)\nglobal.set(\"age\",msg.payload.age)\nvar apikey=\"N1BIgtfHVdYbMaWeMV2pbuFm3zOyIyzQIq8GaGrJeiX0\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":280,"wires":[["e59082f1.bc73a"]]},{"id":"e59082f1.bc73a","type":"http request","z":"4a4583ae.7091dc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":420,"wires":[["38ca3f14.be7d6"]]},{"id":"41b3e4aa.00e42c","type":"debug","z":"4a4583ae.7091dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":160,"wires":[]},{"id":"38ca3f14.be7d6","type":"function","z":"4a4583ae.7091dc","name":"Pre Prediction","func":"var PR = global.get('PR')\nvar PL = global.get('PL')\nvar PRE = global.get('PRE')\nvar SK = global.get('SK')\nvar TE = global.get('TE')\nvar MA = global.get('MA')\nvar PD = global.get('PD')\nvar AG = global.get('AG')\nvar token=msg.payload.access_token\nvar instance_id=\"5d13e373-be61-47c7-98f2-1a12d824fd70\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"preg\", \" plas\", \"pres\", \"Skin \", \"test\", \"mass\", \"pedi\", \"age\"], \"values\":[[PR,PL,PRE,SK,TE,MA,PD,AG]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["ed27cd28.cf2c7"]]},{"id":"ed27cd28.cf2c7","type":"http request","z":"4a4583ae.7091dc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/v4/deployments/9533b6ab-3148-4ec4-b004-169852bb0b6f/predictions","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":280,"wires":[["41b3e4aa.00e42c","f447e638.3efe58"]]},{"id":"b76e640b.3bdbe8","type":"ui_text","z":"4a4583ae.7091dc","group":"701944ca.e4094c","order":1,"width":"0","height":"0","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":360,"wires":[]},{"id":"f447e638.3efe58","type":"function","z":"4a4583ae.7091dc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":60,"wires":[["41b3e4aa.00e42c","b76e640b.3bdbe8"]]},{"id":"34c1e9bb.211716","type":"inject","z":"4a4583ae.7091dc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":120,"wires":[["669f015c.ffc9d"]]},{"id":"ae01e935.f2ee68","type":"ui_form","z":"4a4583ae.7091dc","name":"","label":"","group":"701944ca.e4094c","order":2,"width":"0","height":"0","options":[{"label":"Preg","value":"PR","type":"number","required":true,"rows":null},{"label":"Plas","value":"PL","type":"number","required":true,"rows":null},{"label":"Pres","value":"PRE","type":"number","required":true,"rows":null},{"label":"Skin","value":"SK","type":"number","required":true,"rows":null},{"label":"Test","value":"TE","type":"number","required":true,"rows":null},{"label":"Mass","value":"MA","type":"number","required":true,"rows":null},{"label":"Pedi","value":"PD","type":"number","required":true,"rows":null},{"label":"Age","value":"AG","type":"number","required":true,"rows":null}],"formValue":{"PR":"","PL":"","PRE":"","SK":"","TE":"","MA":"","PD":"","AG":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":400,"wires":[["669f015c.ffc9d"]]},{"id":"701944ca.e4094c","type":"ui_group","z":"","name":"IBM Auto AI","tab":"2fcba91d.a0cbf6","order":1,"disp":true,"width":"9","collapse":false},{"id":"2fcba91d.a0cbf6","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]





